@inject HttpClient Http
@inject NavigationManager NavigationManager
@using System.Text.Json

<EditForm Model="@Categoria" OnValidSubmit="@OnValidSubmit">
    <div class="form-field mt-2 mb-2">
        <div class="row">
            <div class="col-6">
                <div class="form-group row">
                    <label class="col-4 col-form-label">Nombre</label>
                    <div class="col">
                        <div class="input-group">
                            <MudTextField @bind-Value="@Categoria.Nombre" Label="Nombre" Variant="Variant.Outlined" oninput="this.value=this.value.toUpperCase()"
                                          Margin="Margin.Dense"></MudTextField>
                        </div>
                        <ValidationMessage For="@(() => Categoria.Nombre)" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-4 col-form-label">Descripción</label>
                    <div class="col">
                        <div class="input-group">
                            <MudTextField @bind-Value="@Categoria.Descripcion" Label="Descripción" Variant="Variant.Outlined" oninput="this.value=this.value.toUpperCase()"
                                          Margin="Margin.Dense" Lines="3"></MudTextField>
                            <ValidationMessage For="@(() => Categoria.Descripcion)" />
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-3 col-form-label">Estado</label>
                    <div class="col">
                        <MudTooltip Text="Si selecciona esta opción dará de baja a la categoría correspondiente."
                                    Color="Color.Secondary" Placement="Placement.Top">
                            <MudSwitch @bind-Checked="@Categoria.Estado" Label="Activo"
                                       Color="Color.Success" />
                        </MudTooltip>
                        <ValidationMessage For="@(() => Categoria.Estado)" />
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-block btn-success">
            <i class="oi oi-check "></i>
            <text style="color:white"></text>
        </button>       
    </div>
    <DataAnnotationsValidator />
</EditForm>

@code {

    [Parameter] public Categoria Categoria { get; set; } = new Categoria();
    
    [Parameter] public string TextBotonSubmit { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }       
}