@page "/lista-tallas-bajas"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JS
@attribute [Authorize(Roles = "admin")]

@using System.Text.Json

<MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Create" Color="Color.Success" Size="Size.Medium">
    <a style="text-decoration:none; color:#fff;" @onclick="CrearArticulo">Agregar tallas</a>
</MudButton>

<div class="d-flex justify-content-between mt-2 mb-2">
    <div class="btn-group">
        <a href="/lista-tallas" style="background:none; border:none">
            &nbsp;&nbsp;<b>Tallas activas</b>
        </a>
    </div>
</div>

@if (Tallas == null)
{
    <div class="d-flex justify-content-center align-items-center" style="height:24rem">
        <div class="spinner-border text-success" role="status">
            <span class="sr-only">Cargando...</span>
            <MudProgressCircular Color="Color.Primary" Style="height:70px;width:70px;" Indeterminate="true" />
        </div>
    </div>
}
else if (Tallas.Count == 0)
{
    <div class="d-flex justify-content-center align-items-center" style="height:24rem">
        <text>No se encontraron tallas.</text>
    </div>
}
else
{
    <MudTable Items="@Tallas" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" Filter="new Func<Tallas,bool>(FilterFunc1)"
              @bind-SelectedItem="selectedItem1">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Tallas dadas de baja</MudText>
            <MudSpacer />
            @*<MudTextField @bind-Value="searchString1" Placeholder="Buscar marca..." Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>*@
        </ToolBarContent>
        <HeaderContent>            
            <MudTh>Nombre</MudTh>
            <MudTh>Fecha registro</MudTh>
            <MudTh Style="width:50px;">Acciones</MudTh>
        </HeaderContent>
        <RowTemplate>            
            <MudTd DataLabel="Nombre">@context.Nombre</MudTd>
            <MudTd DataLabel="Fecha">@context.Fecha.ToLongDateString()</MudTd>
            <MudTd>
                <MudFab Color="Color.Error" StartIcon="@Icons.Material.Filled.Edit" Size="Size.Small"
                        @onclick="@(() => NavigationManager.NavigateTo($"/editar-tallas/{context.Id}"))" />
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>


}
@code {
    private bool dense = false;
    private bool hover = true;
    private bool striped = true;
    private bool bordered = true;
    private string searchString1 = "";
    private Tallas selectedItem1 = null;
    private HashSet<Tallas> selectedItems = new HashSet<Tallas>();


    public List<Tallas> Tallas { get; set; } //muestra todos los Categoria
    Tallas objMarca = new Tallas();

    private string NombreArtFiltro = String.Empty; //filtros

    protected bool lista = false;
    protected bool card = true;

    protected override async Task OnInitializedAsync()
    {
        await CargarTallas();
    }

    async Task CargarTallas()
    {
        var httpResponse = await Http.GetAsync($"api/tallas/bajas");
        if (httpResponse.IsSuccessStatusCode)
        {
            var responseString = await httpResponse.Content.ReadAsStringAsync();
            Tallas = JsonSerializer.Deserialize<List<Tallas>>(responseString,
                new JsonSerializerOptions() { PropertyNameCaseInsensitive = true });
        }
        else
        {
            Console.WriteLine("error");
        }
    }



    void CrearArticulo()
    {
        NavigationManager.NavigateTo("creartallas");
    }

    private async Task Filtrar()
    {
        await CargarTallas();
    }

    private async Task Limpiar()
    {
        NombreArtFiltro = string.Empty;
        await CargarTallas();
    }

    // esta es la funcion de filtrado de MudBlazor
    private bool FilterFunc1(Tallas element) => FilterFunc(element, searchString1);

    private bool FilterFunc(Tallas element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.Nombre.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }
}