@page
@model LoginModel

@{
    ViewData["Title"] = "";
}

<div class="d-flex justify-content-center">
    <h1>@ViewData["Title"]</h1>
</div>

<section class="vh-100 w-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                @* <img src="https://logos.mybrandnewlogo.com/cached/logos/YwVZODW27vTzyBVVE09m/images/logo-rhjZ3Lu0.png"
                     class="img-fluid" alt="Sample image"> *@
                     <img src="https://i.ibb.co/L811yDT/logo.jpg" alt="logo" border="0" class="img-fluid">
            </div>
            <div class="col-md-6">
                <form id="account" method="post">
                    <h4>Inicio de sesión.</h4>
                    <hr />
                    <!-- Email input -->
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-outline mb-4">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" placeholder="Introduzca su dirección email" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <label asp-for="Input.Password">Contraseña</label>
                        <input asp-for="Input.Password" class="form-control" placeholder="Introduzca su contraseña" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <!-- Checkbox -->
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">
                            Iniciar sesión
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-md-offset-2" hidden>
        <section>
            <h4>Use another service to log in.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</section>

<style>
    .divider:after,
    .divider:before {
        content: "";
        flex: 1;
        height: 1px;
        background: #eee;
    }

    .h-custom {
        height: calc(100% - 73px);
    }

</style>





@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}