
<EditForm Model="@pedido" OnValidSubmit="OnValidSubmit">
    <div class="form-field mt-2 mb-2">
        <div class="form-group row">
            <label class="col-3 col-form-label">Cliente</label>
            <div class="col">
                <div class="input-group">
                    <InputSelect @bind-Value="pedido.ClienteId" class="custom-select" name="cliente">
                        <option selected value="0">Seleccione cliente</option>
                        @foreach (var cliente in clientes)
                        {
                            <option value="@cliente.Id">@cliente.NombreyApellido | DNI:@cliente.Dni</option>
                        }
                    </InputSelect>
                </div>
                <ValidationMessage For="@(() => pedido.ClienteId)" />
            </div>
        </div>

        <div class="form-group">
            @for (int i = 0; i < pedido.DetallePedidos.Count; i++)
            {
                var indice = i;
                var detalle = pedido.DetallePedidos[i];

                <div class="d-flex justify-content-between m-1">
                    <h5>Ítem #@(i + 1)</h5>
                    <div>
                        <button type="button" @onclick="@(() => pedido.DetallePedidos.RemoveAt(indice))" class="btn btn-danger btn-sm" style="border-radius:10px">
                            <i class="oi oi-trash"></i><text style="color:white">Quitar ítem @(indice+1)</text>
                        </button>
                    </div>
                </div>

                <div class="card mb-2" style="background-color:lightgrey; border-radius:0.5rem">
                    <div class="row ml-1 mt-1">
                        <div class="col-8">
                            <label>Artículo </label>
                        </div>
                        <div class="col-4">
                            <label>Cantidad </label>
                        </div>
                    </div>
                    <div class="row ml-1 mb-1">
                        <div class="col-8">
                            <InputSelect @bind-Value="detalle.ArticuloId" required class="form-control">
                                <option selected value="">Seleccione un artículo</option>
                                @foreach (var articulo in articulos)
                                    {
                                    <option value="@articulo.Id">@articulo.Nombre | $@articulo.PrecioUnitario | STOCK: @articulo.StockActual</option>
                                    }
                            </InputSelect>
                            <ValidationMessage For="@(() => detalle.ArticuloId)" />
                        </div>
                        <div class="col-4">
                            <InputNumber @bind-Value="detalle.Cantidad" class="form-control" min="1" />
                            <ValidationMessage For="@(() => detalle.Cantidad)" />
                        </div>
                    </div>
                </div>
            }

            <div class="btn-group">
                <button type="button" class="btn btn-success"
                        @onclick="@(() => pedido.DetallePedidos.Add(new DetallePedido()))">
                    Agregar ítem
                </button>
            </div>

            <hr />

            <div class="form-group row">
                <label class="col-3 col-form-label">Seña</label>
                <div class="col">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">$</span>
                        </div>
                        <InputNumber @bind-Value="pedido.Seña" class="form-control" />
                    </div>
                    <ValidationMessage For="@(() => pedido.Seña)" />
                </div>
            </div>

            <div class="form-group d-flex align-items-center row">
                <label class="col-3 col-form-label">Finalizado</label>
                <div class="col">
                    <InputCheckbox @bind-Value="pedido.Finalizado" />
                </div>
                <ValidationMessage For="@(() => pedido.Finalizado)" />
            </div>

            <div class="btn-group btn-block">
                <button type="submit" class="btn btn-success"><i class="oi oi-check"></i><text style="color:white"> @textSubmit</text></button>
            </div>
        </div>
    </div>
    <DataAnnotationsValidator />
</EditForm>

@code {
    [Parameter] public Pedido pedido { get; set; } = new Pedido();
    [Parameter] public List<Cliente> clientes { get; set; } = new List<Cliente>();
    [Parameter] public List<Articulo> articulos { get; set; } = new List<Articulo>();
    [Parameter] public EventCallback OnValidSubmit { get; set; }

    [Parameter] public string textSubmit { get; set; }
}