@page "/lista-ventas"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = "admin, empleado")]
@using System.Text.Json

<div class="d-flex position-sticky justify-content-between mb-1">
    <div class="btn-group mr-2">
        <button @onclick="CrearVenta" class="btn btn-success"><i class="oi oi-plus"></i> Nueva venta</button>
    </div>
    <div class="input-group" style="width:60%">
        <input class="form-control" type="date" placeholder="Fecha venta" @bind="FechaFiltro" />
        <input class="form-control" type="text" placeholder="Nombre empleado" @bind="EmpleadoFiltro" />
        <div class="input-group-append">
            <button @onclick="Filtrar" class="btn btn-primary" type="button"><i class="oi oi-magnifying-glass"></i></button>
            <button @onclick="Limpiar" class="btn btn-danger" type="button"><i class="oi oi-delete"></i></button>
        </div>
    </div>
</div>

@if (ventas == null)
{
    <div class="d-flex justify-content-center align-items-center" style="height:24rem">
        <div class="spinner-border-sm text-success" role="status">
            <span class="sr-only">Cargando...</span>
        </div>
    </div>
}
else if (ventas.Count == 0)
{
    <div class="d-flex justify-content-center align-items-center" style="height:24rem">
        <text>No se encontraron ventas registradas.</text>
    </div>
}
else
{
    <MudTable Items="@ventas" Hover="@hover" Bordered="@bordered" Striped="@striped" Filter="new Func<Venta,bool>(FilterFunc1)"
          @bind-SelectedItem="selectedItem1">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Ventas</MudText>
            <MudSpacer />
            @*<MudTextField @bind-Value="searchString1" Placeholder="Buscar venta..." Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>*@
        </ToolBarContent>
        <HeaderContent>
            <MudTh Style="width:50px;">Nr</MudTh>
            <MudTh>Fecha</MudTh>            
            <MudTh>Cliente</MudTh>
            <MudTh>Vendedor</MudTh>
            <MudTh>Total</MudTh>
            <MudTh>Factura</MudTh>
        </HeaderContent>
        <RowTemplate>            
            <MudTd DataLabel="Num">@context.Numero.ToString("D5")</MudTd>
            <MudTd DataLabel="Fecha">@context.Fecha</MudTd>            
            @if (context.ClienteId != null)
            {
                <MudTd DataLabel="Cliente">@context.Cliente.Nombre</MudTd>
            }
            else
            {
                <MudTd>CLIENTE GENÉRICO</MudTd>
            }
            <MudTd Style="text-transform:uppercase" DataLabel="Empleado">@context.ApplicationUser.NombreyApellido</MudTd>
            <MudTd DataLabel="Empleado">C$ @context.Total</MudTd>
            <MudTd>
                <MudFab Color="Color.Primary" StartIcon="@Icons.Filled.Payment" Size="Size.Small"
                    @onclick="@(() => NavigationManager.NavigateTo($"/ver-venta/{context.Id}"))" />
            </MudTd>

        </RowTemplate>

        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>
}
@code {
    public List<Venta> ventas { get; set; }
    private bool hover = true;
    private bool striped = true;
    private bool bordered = true;
    private string searchString1 = "";
    private Venta selectedItem1 = null;
    private HashSet<Venta> selectedItems = new HashSet<Venta>();

    private DateTime FechaFiltro = DateTime.Today.AddDays(+1);
    private string EmpleadoFiltro = String.Empty;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await CargarVentas();
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    async Task CargarVentas()
    {
        string fecha = Convert.ToString(FechaFiltro);

        var httpResponse = await Http.GetAsync($"api/ventas/filtro?empleado={EmpleadoFiltro}&fecha={fecha}");
        if (httpResponse.IsSuccessStatusCode)
        {
            var responseString = await httpResponse.Content.ReadAsStringAsync();
            ventas = JsonSerializer.Deserialize<List<Venta>>(responseString,
                new JsonSerializerOptions() { PropertyNameCaseInsensitive = true });
        }
        else
        {
            Console.WriteLine("error");
        }
    }

    void CrearVenta()
    {
        NavigationManager.NavigateTo("crear-venta");
    }

    private async Task Filtrar()
    {
        await CargarVentas();
    }

    private async Task Limpiar()
    {
        EmpleadoFiltro = string.Empty;
        FechaFiltro = DateTime.Today.AddDays(+1);
        await CargarVentas();
    }

    // esta es la funcion de filtrado de MudBlazor
    private bool FilterFunc1(Venta element) => FilterFunc(element, searchString1);

    private bool FilterFunc(Venta element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.Fecha.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }
}
